body{
	background-color: #000;
	color: #fff;
	width: 620px;
		
		
}
#titles
{
	padding:10px 0px;
}
div{
	
	display: inline;	
}
img{
	width: 300px;
	height: 200px;
	border: 3px solid gray;
	margin: 2px;
}